
PDGesturedTableView/PDGesturedTableView.xcodeproj/project.xcworkspace/xcuserdata/Dromaguirre.xcuserdatad/UserInterfaceState.xcuserstate

Resources/Example App Switch Icon.sketch/Data

Resources/Example App Switch Icon.sketch/QuickLook/Preview.png

Resources/Example App Switch Icon.sketch/QuickLook/Thumbnail.png

Resources/Example App Switch Icon.sketch/fonts

Resources/Example App Switch Icon.sketch/version

Resources/Screenshots.sketch/Data

*.png

Resources/Screenshots.sketch/fonts

Resources/Screenshots.sketch/version
